$PRIMARY_COLOR: #469346;
$SECUNDARY_COLOR: #343743;
$BACKGROUND: #efefef;
$WHITE: #ffffff;

:export {
  $PRIMARY_COLOR: $PRIMARY_COLOR;
  $SECUNDARY_COLOR: $SECUNDARY_COLOR;
  $BACKGROUND: $BACKGROUND;
  $WHITE: $WHITE;
}